[submodule "Software/libs/DaisySP"]
	path = Software/libs/DaisySP
	url = https://github.com/electro-smith/DaisySP
	branch = master
[submodule "libDaisy"]
	path = Software/libs/libDaisy
	url = https://github.com/PoliTeK/libDaisy
	branch = mpr121_I2C_readFix
[submodule "DaisyExamples"]
	path = DaisyExamples
	url = https://github.com/electro-smith/DaisyExamples
[submodule "Software/libs/--force"]
	path = Software/libs/--force
	url = https://github.com/PoliTeK/libDaisy
[submodule "Software/libs/libDaisy"]
	path = Software/libs/libDaisy
	url = https://github.com/PoliTeK/libDaisy
