[submodule "Software/libs/DaisySP"]
	path = Software/libs/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
	branch = master
[submodule "Software/libs/libDaisy"]
	path = Software/libs/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "Software/libs/DaisyExamples"]
    path = Software/libs/DaisyExamples
    url = https://github.com/electro-smith/DaisyExamples.git
	branch = master
[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/PoliTeK/libDaisy
